@import url("https://fonts.googleapis.com/css?family=Jura");
@import url("https://fonts.googleapis.com/css?family=Days+One");
@import url("https://db.onlinewebfonts.com/c/cc3019aa6439ef893839b8a0d6d0391d?family=Star+Jedi");
@import url("https://db.onlinewebfonts.com/c/636d3dac53dffe0023a68f90abacf4c1?family=JuraLight");
@import url("https://db.onlinewebfonts.com/c/a575960e7b96141e7ec34bc95aa772e2?family=SF+Atarian+System+Extended+V2+V1");
@import url("https://db.onlinewebfonts.com/c/28cac7a2ebb776327ddf96d71c30fe9b?family=SF+Atarian+System+Extended+Bold+V2+V1");

* {
  padding: 0%;
  margin: 0%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  background-color: black;
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: large;
  font-family: "Star Jedi";
  width: 100%;
  height: 150px;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/38/0/tNfnSd.png);
  align-content: baseline;
}

h1 {
  color: transparent;
  padding-top: 0px;
  text-align: center;
  font-family: "Star Jedi";
  -webkit-text-stroke: 2px yellow;
  font-size: 60px;
}

h1:hover {
  text-shadow: 0 0 30px rgb(232, 232, 101);
}

h2 {
  color: aliceblue;
  text-align: center;
  font-family: "jura";
}

h2:hover {
  text-shadow: 0 0 25px yellow;
}

h3 {
  color: yellow;
  background-color: black;
  text-align: center;
  font-family: "JuraLight";
  font-size: larger;
  margin-top: 2%;
}

.statistic {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

p {
  display: flex;
  margin-top: 5px;
  color: white;
  font-family: "jura";
  font-size: larger;
  font-weight: 700;
  line-height: 40px;
  text-indent: 5px;
  word-spacing: 3px;
  letter-spacing: 3px;
  background-color: #091e78;
}

select {
  display: flex;
  justify-content: space-around;
}

.navBar {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
}

#naviBar {
  display: flex;
  font-family: "jura";
  font-weight: 700;
  color: #f0f0f0;
}

#affiliation {
  max-width: 250px;
}

#affiliation {
  display: inline-flex;
  margin-left: 3px;
  margin-right: 10px;
  width: 187px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f8f6f6;
  color: #faf5f5;
  font-size: 1em;
  font-weight: 900;
  color: #070707;
  font-family: "jura";
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

#affiliation:hover {
  box-shadow: 0 0 15px rgb(212, 168, 213);
}

#sortAZ {
  max-width: 250px;
}

#sortAZ {
  display: inline-flex;
  margin-left: 3px;
  margin-right: 10px;
  width: 159px;
  transition: 0.3s;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #1a1919;
  font-size: 1em;
  font-weight: 900;
  color: #060606;
  font-family: "jura";
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}

#sortAZ:hover {
  box-shadow: 0 0 15px rgb(212, 168, 213);
}

#clearBtn {
  display: inline-flex;
  font-family: "jura";
  font-weight: 900;
  font-size: medium;
  padding: 10px 20px;
  background-color: yellow;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#clearBtn:hover {
  box-shadow: 0 0 15px #f0f06e;
}

#clearBtn:active {
  background-color: black;
  color: yellow;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  margin-top: 50px;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #f2eee9;
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2023/05/01/Rich-Galaxy-Background-Ultra-HD-Detail-Black-And-White-Colors-68559297-1-580x1031.png);
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  transition: 0.3s;
}

.cards:hover {
  box-shadow: 0 0 20px rgb(212, 168, 213);
  transform: scale(1.1);
}

strong {
  display: flex;
  justify-content: center;
  font-family: "SF Atarian System Extended Bold V2 V1";
  font-size: 20px;
  letter-spacing: ;
  font-weight: 100;
  padding-top: 4%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

span {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

dl {
  font: 1rem "days one", sans-serif;
  text-align: center;
  font-weight: 100;
}

dd {
  margin-bottom: 1rem;
  text-align: center;
}
#root ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .cards {
    width: 40vh;
  }
}

footer {
  display: flex;
  color: yellow;
  letter-spacing: 3px;
  font-family: "Star Jedi";
  justify-content: center;
}
